footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 1rem;
    background-color: hsl(0 0% 90%);
}

.copyright__statement {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
