header {
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--clr-gray-90);
}

.brand__text {
    font-size: clamp(1.25rem, 3vw, 2rem);
    font-weight: 600;
}
