/* FONT IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/* STYLE RESETS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    width: min(1280px, 97%);
    margin: 3rem auto;
    flex: 1;
}

p {
    line-height: 1.5;
}

a {
    color: inherit;
    text-decoration: none;
}

/* HOME PAGE STYLES */

main > p {
    max-width: 55ch;
    margin: auto;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}
