section {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	padding: 1rem;
	background-color: var(--clr-cta);
	color: white;
}

.link-capsule {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	background-color: var(--clr-gray-10);
	padding: 0.25rem 1rem;
	border-radius: 0.25rem;
	transition: all 110ms ease-in-out;

	a {
		color: white;
	}
}

.link-capsule:hover {
	background-color: var(--clr-gray-20);
}
