section {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	padding: 1rem;
	background: linear-gradient(
		135deg,
		var(--clr-cta-alt),
		var(--clr-primary-alt),
		var(--clr-cta-alt));
	color: white;
	font-size: clamp(1rem, 1.5vw, 2rem);
}

.link-capsule {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	background-color: var(--clr-gray-10);
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	transition: all 80ms ease-in-out;

	a {
		color: white;
	}
}

.link-capsule:hover {
	background-color: var(--clr-gray-20);
}
