.sidebar {
    --menu-tfm: 220ms ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    transform-origin: right;
    padding: 1rem;
    color: white;
    background-color: var(--clr-gray-10);
    transition: opacity var(--menu-tfm), width var(--menu-tfm);
    overflow: hidden;
}

/* .sidebar:first-child {
    border-bottom: 1px solid black;
} */

.sidebar__icon {
    margin-bottom: 1rem;
    cursor: pointer;
}

.sidebar__closed {
    width: 0;
    opacity: 0;
    z-index: -1;
}

.sidebar__open {
    width: min(11rem, 50%);
    opacity: 1;
    z-index: 1000;
}

.sidebar__open nav {
    width: 100%;
    font-size: 1.25rem;
    margin-top: 1rem;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.5rem;
}
